{% extends 'backend_api/base.html' %}
{% load static %}

{% block content %} 

<div class="row column4 graph">
    <div class="col-md-12">
        <form method="post" action="{% url 'profile' %}">
        {% csrf_token %} 
        <div class="full graph_head">
            <label for="API_token">API токен для Ukraine.com.ua</label><br />
            <input placeholder="Введите API токен" value="{{ api_ukraine }}" name="api_ukraine" type="text" style="width: 40%" />
        </div>
        <div class="full graph_head">
            <label for="API_token">API токен для  Bodis.com</label><br />
            <input placeholder="Введите API токен" value="{{ api_bodis }}" name="api_bodis" type="text" style="width: 40%" />
        </div>
        <div class="full graph_head">
            <button type="submit" class="btn cur-p btn-success">Сохранить</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}